#container{
    margin-top: 40px;
    width: 70%;
    height: inherit;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    /* position:sticky; */
} 
.gameContainer,.gameSnake,.Game2Container{
    border-radius: 40px;
    background-color:rgb(150, 176, 209) ;
    color:rgb(10, 158, 163);
    width: 500px;
    height: 300px;
    margin: 20px;
    border: 1px,rgb(36, 101, 187),solid;
    opacity: 0.9;
    box-shadow:0 0 30px rgb(3, 83, 63);    
}
.Game2Container{
    background-image: url('https://cdn.shoplightspeed.com/shops/633820/files/24600950/image.jpg');
    background-size: cover;
    background-position: center;
    background-size: 650px 400px;
}
.gameContainer:hover{
    box-shadow: 0 0 90px rgb(28, 255, 149);
    opacity: 1;
    background-size: 570px 370px;    
    transition: tranform(120ms);
    transform:   translateY(-20px);
}
.Game2Container:hover{
    background-size: cover;
    background-position: center;
    background-size: 700px 400px;
    
    transition: tranform(120ms);
    transform:   translateY(-20px);
    box-shadow: 0 0 90px rgb(28, 255, 149);
    opacity: 1;
}
.gameSnake{
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/419KjOMey7L.png');
    background-size: cover;
    background-position: center;
    background-size: 500px 300px;
    
}
.gameSnake:hover{
    box-shadow: 0 0 90px rgb(28, 255, 149);
    opacity: 1;
    background-size: 570px 370px;    
    transition: tranform(120ms);
    transform:   translateY(-20px);
}
